.section9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(244, 211, 94, 0.1);
  margin-top: 3rem;
  padding: 2rem 0rem;
  gap: 4rem;
}
.section9_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section9_top h1 {
  color: var(--gold);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.section9_top p {
  color: grey;
  font-size: 18px;
}
.section9_box {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 4px 0 30px rgb(0 0 0 / 15%);
  border-radius: 25px;
}
.box_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 0.5;
  gap: 6px;
}
.section9_btn {
  padding: 9px 30px;
  width: 130px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
.active {
  border-color: var(--gold);
  color: var(--gold);
}
.box_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.box_right h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.pointer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.fa-check {
  color: var(--gold);
}
.phase_desc {
  color: grey;
  font-size: 16px;
  max-width: 300px;
}
.desktop-box {
  display: flex;
}
.mobile-box {
  display: none;
}
@media screen and (max-width: 612px) {
  .section9_top {
    text-align: center;
    padding: 0px 1rem;
  }
  .desktop-box {
    display: none;
  }
  .mobile-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    background-color: var(--gold);
    width: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 20px;
    font-family: Montserrat, sans-serif !important;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  .menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 4px 0 30px rgb(0 0 0 / 5%);
    width: 86%;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0);
    height: 0;
    margin-bottom: 20px;
    transform-origin: top;
  }
  .active-menu {
    transform: scale(1);
    height: 100%;
    opacity: 1;
  }
  .menu-first {
    color: grey;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .content_acc {
    width: 80vw;
    padding: 0;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .centerplease_acc {
    margin: 0 auto;
    max-width: 270px;
    font-size: 40px;
  }
  .pointer {
    gap: 10px;
  }
  /*Question*/
  .question_acc {
    position: relative;
    margin: 0;
    padding: 15px 30px;
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: var(--gold);
    border-radius: 15px;
  }
  /*Answer*/
  .answers_acc {
    padding: 0px 15px;
    margin: 5px 0;
    width: 100% !important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .questions_acc:checked ~ .answers_acc {
    height: auto;
    opacity: 1;
    padding: 15px;
  }
  .questions_acc:checked ~ .question_acc {
    background-color: var(--gold);
  }

  /*FAQ Toggle*/
  .plus_acc {
    position: absolute;
    z-index: 5;
    font-size: 18px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    right: 2.5%;
    top: 18px;
  }
  .custom_accordion_acc,
  .phase_acc {
    position: relative;
  }
  .questions_acc:checked ~ .plus_acc {
    transform: rotate(45deg);
  }

  .questions_acc {
    display: none;
  }
}
