.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem 0rem;
}
.section2_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.auth {
  object-fit: contain;
  width: 20%;
}
.section2_btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
/* button styling in section 2 --------------- */
.section2_btn {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid var(--gold);
  width: 220px;
  height: 50px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.section2_btn:hover {
  color: white;
  background-color: var(--gold);
}
