.section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 3rem 0rem;
  gap: 2rem;
}
.section7 h1 {
  color: var(--gold);
  font-weight: 700;
  font-family: Montserrat, sans-serif !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 45px;
}
.section7_box-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
}
.section7_box {
  width: 379px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.section7_box img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.section7_box h2 {
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
}
.section7_box p:hover {
  opacity: 0.5;
  cursor: pointer;
}
