/* .content{
  font-family: Lato, sans-serif;
} */
.content {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  margin-top: 4rem;
}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

/*Question*/
.question {
  position: relative;
  margin: 0;
  padding: 15px 30px;
  display: block;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/*Answer*/
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  width: 100% !important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}
.questions:checked ~ .question {
  background-color: var(--gold);
}

/*FAQ Toggle*/
.plus {
  position: absolute;
  z-index: 5;
  font-size: 18px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  right: 2.5%;
  top: 18px;
}
.custom_accordion {
  position: relative;
}
.questions:checked ~ .plus {
  transform: rotate(180deg);
}

.questions {
  display: none;
}
@media screen and (max-width: 708px) {
  .content {
    width: 80%;
  }
}
