.section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem 0rem;
}
.section8_left,
.section8_right {
  flex: 0.5;
}
.section8_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section8_left img {
  width: 70%;
  object-fit: contain;
}
.section8_right {
  color: #727272;
  margin-left: 2rem;
}
.section8_right h1 {
  font-size: 40px;
  margin-bottom: 1rem;
}
.section8_right p {
  font-size: 20px;
  width: 53%;
}
@media screen and (max-width: 1212px) {
  .section8_right p {
    width: 65%;
  }
  .section8_left img {
    width: 80%;
  }
}
@media screen and (max-width: 762px) {
  .section8_right p {
    width: 90%;
    margin: 0;
  }
  .section8_left img {
    width: 80%;
  }
  .section8 {
    flex-direction: column;
    gap: 50px;
  }
  .section8_left {
    justify-content: center;
  }
  .section8_right {
    text-align: center;
  }
}
