.footer {
  min-height: 5vh;
  background-color: var(--gold);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 1rem;
  padding: 1rem 0rem;
}
.footer-anchor {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
