.section3,
.section3_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.section3_top {
  text-align: center;
  margin-top: 0rem;
  gap: 10px;
}
.section3_top h1 {
  color: var(--gold);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.section3_top p {
  width: 50%;
  line-height: 1.3;
  color: grey;
}
.section3_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.box {
  max-width: 300px;
  height: 320px;
  background-color: white;
  box-shadow: 2px 0 24px rgb(0 0 0 / 13%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding: 0px 20px;
  text-align: center;
  border-radius: 15px;
}
.box h3 {
  font-family: "Montserrat", sans-serif;
}
.box p {
  align-self: flex-start;
  color: grey;
}
@media screen and (max-width: 826px) {
  .section3_top p {
    width: 80%;
  }
}
@media screen and (max-width: 430px) {
  .section3_top h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
